<ul class="menu">
    <li class="menu-item">
        <div class="menu-title">
            정보관리
            <span class="arrow"></span>
        </div>
        <ul class="submenu">
            <li><a href="/uml">사용자 관리</a></li>
            <li><a href="/server">연계 서버 관리</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <div class="menu-title">
            스트리밍관리
            <span class="arrow"></span>
        </div>
        <ul class="submenu">
            <li><a href="/sv">스트리밍 뷰어</a></li>
            <li><a href="/cml">개별 카메라 관리</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <div class="menu-title">
            이력 관리
            <span class="arrow"></span>
        </div>
        <ul class="submenu">
            <li><a href="/errors">에러 관리</a></li>
            <li><a href="/logins">로그인 이력 관리</a></li>
            <li><a href="/userlogs">개별 사용자 로그 관리</a></li>
        </ul>
    </li>
</ul>
